/Simbad.Utils.Silverlight/bin/Debug/Simbad.Utils.Silverlight.dll
/Simbad.Utils.Silverlight/bin/Debug/Simbad.Utils.Silverlight.pdb
/Simbad.Utils.Silverlight/bin/Release/Simbad.Utils.Silverlight.dll
/Simbad.Utils.Silverlight/bin/Release/Simbad.Utils.Silverlight.pdb
/Simbad.Utils.Silverlight/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Simbad.Utils.Silverlight/obj/Debug/Simbad.Utils.Silverlight.csproj.FileListAbsolute.txt
/Simbad.Utils.Silverlight/obj/Debug/Simbad.Utils.Silverlight.csprojResolveAssemblyReference.cache
/Simbad.Utils.Silverlight/obj/Debug/Simbad.Utils.Silverlight.dll
/Simbad.Utils.Silverlight/obj/Debug/Simbad.Utils.Silverlight.pdb
/Simbad.Utils.Silverlight/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Simbad.Utils.Silverlight/obj/Release/Simbad.Utils.Silverlight.csproj.FileListAbsolute.txt
/Simbad.Utils.Silverlight/obj/Release/Simbad.Utils.Silverlight.dll
/Simbad.Utils.Silverlight/obj/Release/Simbad.Utils.Silverlight.pdb
TestResults
bin
obj
/SimbadUtils.sln.DotSettings.user
/SimbadUtils.v11.suo
